@using Fruit.Project.Models
 
@model List<Product> 
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <a class="btn btn-primary" style="margin-left:90%" asp-controller="Product" asp-action="Create">Create</a>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>SubTitle</th>
                            <th>Image</th>
                            <th>Action</th>
                        
                        </tr>
                    </thead>
                   
                    <tbody>
                       @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.SubTitle</td>
                                <td>
                                    <img src="~/Upload/Product/@item.ImgUrl" />
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                                
                            </tr>
                        }
                       
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->